<!DOCTYPE html>
<html>
<head>
	<title><%=blocks.title%></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<%-partial('../partial/navigation') %>
	<%-body -%>
</body>
</html>